############################
# Angular
############################
weather-ui/node_modules/
weather-ui/dist/
weather-ui/.angular/
weather-ui/.cache/

############################
# .NET
############################
WeatherAppSolution/**/bin/
WeatherAppSolution/**/obj/
WeatherAppSolution/**/TestResults/

############################
# Logs
############################
*.log

############################
# OS Files
############################
.DS_Store
Thumbs.db

############################
# VS / VS Code
############################
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

############################
# Docker
############################
**/.dockerignore